//
   Created by gejiawen on 31/10/2016.

html
    body
        h1 sword plus demo
        p.
            Here is my introduction.
            And some usable links as follows.

        ul
            li
                a(href="/comment.html") comment
            li
                a(href="/about.html") about
            li
                a(href="/admin/console.html") admin


        p Enjoy yourself.


